version: "3.7"

x-node-build: &node-build
  build:
    context: .
    dockerfile: Dockerfile.node
  image: synthetic-tests-pings-node

x-default-volumes: &default-volumes
  volumes:
    - ./lib:/var/task/lib
    - ./spec:/var/task/spec
    - ./handler.js:/var/task/handler.js
    - ./package.json:/var/task/package.json
    - ./yarn.lock:/var/task/yarn.lock
    - ./jest.config.js:/var/task/jest.config.js

x-test_env: &test-env
  environment:
    TEST_URL: "https://library.nyu.edu/this/is/a/test/please/ignore"
    EXPECTED_CODE: 404
    EXPECTED_RESPONSE_TIME_MS: 400
    SLACK_URL:

services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.lambda
    image: synthetic-tests-pings-lambda
    command: ["handler.syntheticTest"]
    ports:
      - '9000:8080'
    <<: *test-env
      #    volumes:
      #      - node_modules:/var/task/node_modules
    depends_on:
      - npm_install

  dev_test:
    image: appropriate/curl
    command: ["-vf", '-H', 'Connection: Keep-Alive', "-XPOST", "http://dev:8080/2015-03-31/functions/function/invocations", "-d", "'{\"payload\":\"hello world!\"}'"]
    depends_on:
      - dev

  npm_install:
    <<: *node-build
    volumes:
      - node_modules:/var/task/node_modules

  test:
    <<: *node-build
    command: ["yarn", "test"]
    <<: *test-env
    # <<: *default-volumes

volumes:
  node_modules:
